* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	font-size: 12px;
	font-family: arial, sans-serif;
}

nav {
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
}

nav div {
	background-image: url(images/icons.png);	
	width: 20px;
	height: 20px;
}

nav li:nth-of-type(3) div {
	background-position: -132px -38px;
	width: 30px;
	height: 30px;
	opacity: .55;
	margin-top: 5px;
}

nav li:nth-of-type(3):hover div {
	opacity: 1;
}

nav li:nth-of-type(4) div {
	background-position: -194px -21px;
	background-color: rgba(0,0,0,.55);
	-webkit-border-radius: 50%; 
	border-radius: 50%;
	margin-top: 3px;
}

nav li:nth-of-type(4):hover div {
	background-color: rgba(0,0,0,1);
}

nav img {
	border-radius: 50%;
	vertical-align: middle;
}

ul {
	list-style: none;
}

ul li {
	display: inline-block;
	margin: 0 5px;
	vertical-align: middle;
}

ul li a {
	text-decoration: none;
	color: black;
}

ul li a:hover {
	text-decoration: underline;
}

.left {
	float: left;
}

.right {
	float: right;
}

main {
	position: relative;
	min-height: calc(100vh - 41px - 61px);
}

.main-container {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 530px;
}

.main-container img.logo {
	display: block;
	height: 82px;
	margin: 0 auto;
}

.main-container .input-box {
	margin: 25px 0;
	box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.16),
	            0 0 2px 1px rgba(0, 0, 0, 0.08);
	transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.main-container .input-box input {
	width: 90%;
	margin-left: 13px;
	padding: 13px;
	border: none;
}

.main-container .input-box input:focus {
	outline: none;
}

.main-container .input-box:hover {
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.3),
	            0 0 0 1px rgba(0,0,0,0.08);
}

.main-container .input-box img {
	height: 20px;
	vertical-align: middle;
}

.main-container div {
	text-align: center;
}

.main-container p {
	font-size: 13px;
	margin-top: 20px;
	text-align: center;
}

.main-container p a:link,
.main-container p a:visited {
	text-decoration: none;
	color: blue;
}

button {
	background-color: #f5f5f5;
	color: #757575;
	border: 1px solid transparent;
	padding: 8px 10px;
	font-weight: bold;
	border-radius: 3px;
}

button:not(:last-child) {
	margin-right: 5px;
}

button:hover {
	color: #222;
	border: 1px solid #c6c6c6;
}

footer {
	height: 40px;
	line-height: 40px;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	padding: 0 20px;
}

footer a.link {
	color: #666;
}